certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.0
numpy==1.14.2
pandas==0.22.0
pandas-validator==0.5.0
pdkit==0.1.9
pkginfo==1.4.1
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
requests==2.18.4
requests-toolbelt==0.8.0
scipy==1.0.0
six==1.11.0
tqdm==4.19.7
twine==1.10.0
urllib3==1.22
