alabaster==0.7.10
Babel==2.5.3
certifi==2018.1.18
chardet==3.0.4
click==6.7
cloudpickle==0.5.2
cycler==0.10.0
dask==0.15.2
distributed==1.18.3
docutils==0.14
future==0.16.0
HeapDict==1.0.0
idna==2.6
imagesize==1.0.0
ipaddress==1.0.19
Jinja2==2.11.3
kiwisolver==1.0.1
latexcodec==1.0.5
MarkupSafe==1.0
matplotlib==2.2.2
msgpack-python==0.5.6
numpy==1.14.2
oset==0.1.3
packaging==17.1
pandas==0.22.0
pandas-validator==0.5.0
patsy==0.5.0
pdkit==0.4.6
pkginfo==1.4.1
psutil==5.6.6
pybtex==0.21
pybtex-docutils==0.2.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyWavelets==0.5.2
PyYAML==4.2b1
requests==2.20.0
requests-toolbelt==0.8.0
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
snowballstemmer==1.2.1
sortedcontainers==1.5.9
Sphinx==1.7.2
sphinxcontrib-bibtex==0.4.0
sphinxcontrib-websupport==1.0.1
statsmodels==0.8.0
tblib==1.3.2
toolz==0.9.0
tornado==5.0.1
tqdm==4.19.7
tsfresh==0.11.0
twine==1.10.0
urllib3==1.24.2
zict==0.1.3
